@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.text-width {
  padding-top: 80px;
  padding-bottom: 80px;
  border-left: 100px;
  border-right: 100px;
  width: 100%;
}

/* .test-p {
  padding-bottom: 20px;
} */