@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
}

.header-text {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 550;
  font-size: 48px;
  padding-left: 10px;
  padding-right: 10px
}

.header {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 250px;
  background-image: linear-gradient(120deg, #fd8d8d 0%, #ff4949 100%);
}


.header-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}