@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
}

.cift-logo {
  margin: 10px 40px 10px 40px;
  width: 100px;
  height: 100px;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-elements {
  width: 100%;
}

.nav-elements ul {
  display: flex;
  align-items: right;
  justify-content: right;
}

.nav-elements li {
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  padding: 0px 40px;
  position: relative;
  float: left
}

.apply {
  text-decoration: none;
  font-size: 1.3rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  color: white
}

.apply:hover {
  color: gray;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  transition: rgb(28, 28, 28) 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #2642af;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block
  }

  .nav-elements.expanded ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: rgb(210, 210, 210);
    border-top: 1px solid black;
    padding-bottom: 350px;
    margin-top: -60px
  }

  .nav-elements.expanded li {
    text-align: center;
    margin: 1.5rem;
  }

  .nav-elements.expanded li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }

  .nav-elements.expanded li a:hover {
    color: gray;
  }

  .nav-elements ul {
    display: none
  }

  .nav-elements.expanded ul {
    display: flex;
  }
}
